/* [Main Section] */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url("img/bgpattern.png");
    background-size: 25%;
    background-repeat: repeat;
}

p {
    font-family: Roboto;
    font-size: 1rem;
    text-align: center;
    color: white;
}

.container {
    width: 100%;
    height: 100%;
}

.spacing {
    float: left;
    width: 25%;
    height: auto;
}

.main {
    background-color: #151515;
    float: left;
    width: 50%;
    height: auto;
    margin: auto;
}


/* [Navigation Logo] */

.nav-logo {
    width: 27vh;
    height: 7.5vh;
}


/* [Image] */

.snowden {
    width: 100%;
}


/* [Media Query] */

@media screen and (max-width: 720px) {
    .main,
    .spacing {
        background-color: #151515;
        width: 100%;
    }
    .nav-logo {
        width: 54vh;
        height: 15vh;
    }
}


/* [Roboto Fonts] */

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}


/* [Title and Bars] */

.nav-bar {
    background-color: #181818;
    position: sticky;
    height: 10%;
    display: flex;
    justify-content: center;
}

.title-bar {
    background-color: #151515;
    display: flex;
    justify-content: center;
}


/* [Article] */


/* [Text Formattings] */

.justify {
    text-align: justify;
}

.title {
    font-size: 2rem;
}

.context {
    font-size: large;
}

.bold {
    font-weight: bold;
}